p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}
.video-title{
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px; 
    margin-bottom: 3px;
}
.video-stats{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 2px;

}
.video-author{
    font-family: Arial;
    font-size: 14px;
    color:rgb(96, 96, 96) ;
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 400px;
}
.video-description{
    font-size: 14px;
    margin-top: 0px;
    font-family: Arial;
    color:  #606060;
    line-height: 20px;
    width: 280px;
    margin-bottom: 100px;
}
.apple{
    color: white;
    background-color: rgb(227, 65, 64);
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 16px;
    text-decoration: none;
}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
.underline{
    text-decoration: none;
    color: white;
}